.calltoaction
  display block
  
  h4
    font 24px 'Roboto', sans-serif
    color #222
    text-align center
    font-weight 100
    margin 0 0 12px 0
    line-height 1.5

  input[type=tel]
    display block
    border 2px solid #5dd3f9
    width 100%
    padding 12px 24px
    border-radius 100px
    font-size 28px
    font-weight 100
    margin 16px 0
    
    &:focus
      appearance none
      outline none
  
  &--line
    
    form
      border-radius 100px
      padding 16px 24px
      border 2px solid #b6ebfc
      margin 24px 0 0 0
      font-size 0
      width 110%
      left -5%
      
      +xs()
        border-radius 6px
        
      +sm()
        border-radius 100px

    label
      display inline-block
      vertical-align middle
      color black
      font-size 22px
      font-weight bold
      font-weight 500
      letter-spacing 0
      height 42px
      line-height 42px
      
      +xs()
        display block
        font-size 18px
        
      +sm()
        display inline-block
        font-size 22px
      
    input[type="tel"]
      display inline-block
      vertical-align middle
      border-radius 100px 0 0 100px
      border 2px solid #5dd3f9
      border-right none
      font-size 18px
      font-weight 100
      color #444
      width auto
      letter-spacing 0
      height 42px
      line-height 42px
      padding 0 16px
      width 200px
      float right
      
      +xs()
        display block
        width 100%
        border-radius 100px
        float none
        border 2px solid #5dd3f9
        margin 14px 0
        top -50px
        
      +sm()
        display inline-block
        width 200px
        
      
      &:focus
        appearance none
        outline none
      
    input[type="submit"]
      display inline-block
      vertical-align middle
      font 16px 'Roboto', sans-serif
      color #fff
      text-transform uppercase
      letter-spacing 1px
      background #0096ff
      text-align center
      border-radius 0 100px 100px 0
      border none
      height 42px
      line-height 42px
      width 200px
      cursor pointer
      transition all .3s ease
      float right
      
      +xs()
        display block
        width 100%
        border-radius 100px
        float none
        top 60px
        
      +sm()
        display inline-block
        width 200px
        
      
      &:focus
        appearance none
        outline none
      
      &:hover
        background darken(#0096ff, 20%)