include ../button/button

mixin calltoaction(title, buttonText, isPhone)
  .calltoaction
    .container
      .row
        .col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3.col-xs-12.col-xs-offset-0
          h4!= title

          if isPhone === true
            form(action="")
              input(type="tel" placeholder="+7 (___) ___-__-__" pattern="\(?([0-9]{3})\)?([ .-]?)([0-9]{3})\2([0-9]{4})" required)

              input.button.small(type="submit" value=buttonText)

          else
            +button(buttonText)


mixin calltoaction--line(title, buttonText)
  .calltoaction--line
    .container
      .row
        .col-lg-8.col-lg-offset-2.col-xs-10.col-xs-offset-1
          form(action="")
            label= title
            input(type="submit" value=buttonText)
            input(type="tel" placeholder="+7 (___) ___-__-__" required)