//- Файл, объединяющий в себе общие BEM-блоки проекта для быстрого импорта в страницы
include modal/modal

include header/header
include title/title

include calltoaction/calltoaction

include steps/steps
include why/why
include cases/cases
include portfolio/portfolio
include about/about
