mixin about-item(image)
  .col-md-3.col-sm-6.col-xs-12
    .about__item
      .about__image
        img(src=image, alt=text)
      if block
        block

mixin about()
  .about
    .container
      .row
        .col-md-12
          h2 Кто мы

      .row
        +about-item('img/about/colorit.png')
          h4 Компания Color-IT<br><strong>10 лет</strong> на рынке

        +about-item('img/about/b24.png')
          h4 <strong>3 года</strong> внедряем<br>Битрикс24

        +about-item('img/about/certificate.png')
          h4 <strong>5</strong> сертифицированных<br>специалистов

        +about-item('img/about/work.png')
          h4 <strong>20 внедрений</strong><br>Битрикс24<br>за последний год