.about
  display block
  margin 48px 0
  
  h2
    text-align center
    font 42px 'Roboto'
    line-height 2


.about__item
  text-align center
  
  h4
    font 24px 'Roboto', sans-serif
    color black
    line-height 1.5
    margin-top 12px
    font-weight bold
    font-weight 400
    
    strong
      color accent
      font-weight bold
      font-weight 400