.header
  display block
  height 160px
  padding 3rem 0
  
  +xs()
    padding 1rem 0
    height auto
    
  +sm()
    padding 1rem 0


.header__logo
  text-align left
  margin 0
  
  +xs()
    text-align center
    margin 24px 0
    
  +sm()
    text-align center
    margin 24px 0
  
  img
    display inline-block
    max-width 100%
    


.header__awards
  display inline-block
  vertical-align middle
  margin-top 36px
  
  +xs()
    display none
  
  a
    text-decoration none
    display inline-block
    vertical-align middle
    margin 0 4px
  
  img
    display inline-block
    max-width 100%
    
    +md()
      display none
    +lg()
      display inline-block
    
    &.leader
      position relative
      top -8px
      
      +md()
        display inline-block
    


.header__phone
  display inline-block
  vertical-align middle
  margin-left 3rem
  margin-top 36px
  
  +xs()
    display block
    text-align center
    margin 0
    margin 16px 0
  
  a
  a:hover
  a:visited
    font-size 24px
    line-height 1
    color accent
    font-family mainFontFamily
    font-weight bold