mixin header()
  header.header
    .container
      .row
        .col-md-4.col-xs-12
          .header__logo
            img(src="img/logo.png", alt="Color-IT. Разработка и продвижение сайтов", title="Разработка и продвижение сайтов")

        .col-md-8.col-xs-12.align-right
          .header__awards
            a(href=""): img.leader(src="img/awards/leader.png", alt="Лидер продаж в северо-кавказском регионе 2015")
            a(href=""): img(src="img/awards/golden.png", alt="Золотой сертифицированный партнер 1С-Битрикс")
            a(href=""): img(src="img/awards/compet.gif", alt="Корпоративный портал: компетенция")


          .header__phone
            a(href="tel:+79034994488") +7 903 499-44-88