.portfolio
  display block
  margin 64px 0 48px
    
  &::before
    {pseudo}
    position absolute
    width 110%
    height 55%
    bottom 18%  
    left 0
    background #ecfaff
    transform perspective(500px) rotateY(5deg)
    
    +xs()
      transform none
    
  
  h2
    text-align center
    font 42px 'Roboto'
    line-height 2
    
    +xs()
      font-size 32px


.portfolio__item
  display block
  text-align center
  color black
  text-decoration none
  padding-bottom 42px
  
  img
    max-width 100%
  
  h4
    display inline-block
    font 24px 'Roboto', sans-serif
    color black
    border-bottom 1px solid transparent
    margin 14px auto
    transition all .4s ease
    font-weight 400
    
    +xs()
      font-size 18px
  
  &:hover
    h4
      color #007095
      border-bottom 1px solid #007095
    