mixin portfolio__item(img, text, link)
  .col-md-3.col-sm-6.col-xs-8.col-xs-offset-2
    a(href=link target="_blank").portfolio__item
      img(src=img, alt="Портфолио Color-IT: " + text)
      h4!= text



mixin portfolio()
  .portfolio
    .container
      .row
        .col-xs-12
          h2 Наши клиенты
      .row
        +portfolio__item('img/works/rd.png', 'Правительство РД', 'http://www.e-dag.ru/')
        +portfolio__item('img/works/elco.png', '«Электросвязь»', 'http://www.ellco.ru/')
        +portfolio__item('img/works/vh.png', '«Визаж Холл»', 'http://visagehall.ru/')
        +portfolio__item('img/works/rom.png', 'Гипермаркет «ROM»', 'https://giperdivan.ru/')


      .row
        +portfolio__item('img/works/os.png', '«Оптик-сити»', 'http://www.dagoptika.ru/')
        +portfolio__item('img/works/riadag.png', 'Риа «Дагестан»', 'http://www.riadagestan.ru/')
        +portfolio__item('img/works/mfs.png', 'Сеть аптек «МФС»', '#')
        +portfolio__item('img/works/indigo.png', 'Школа «Индиго»', 'http://studentprograms.ru/shkola-indigo')

