include ../components/metatags

<!DOCTYPE>
html(lang="ru")
  head
    meta(name="keywords"    content="")
    meta(name="description" content="")
    meta(charset="UTF-8")

    +meta('mobile')
  
    include ../components/styles

    //- Заголовок страницы
    block title
      title Page Title

  body

    //- Содержимое страницы
    block content

    include ../components/scripts
