* {
  position: relative;
  box-sizing: border-box;
  font-family: 'Roboto', 'Helvetica', 'Helvetica Neue', 'Tahoma', arial, sans-serif !important;
}
body,
html {
  padding: 0;
  margin: 0;
  width: 100%;
  width: 100vw;
}
body {
  font-family: 'Roboto', 'Helvetica', 'Helvetica Neue', 'Tahoma', arial, sans-serif;
  font-size: 16px;
  color: #222;
  min-height: 100vh;
  overflow-x: hidden;
  padding-bottom: 48px;
}
a,
a:link,
a:visited,
a:active,
a:hover {
  text-decoration: none;
}
ul,
ol {
  list-style-position: inside;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
p {
  font-family: 'Roboto', 'Helvetica', 'Helvetica Neue', 'Tahoma', arial, sans-serif;
  font-size: 1rem;
  line-height: 24px;
  margin: 24px 0;
}
h1 {
  font-size: 2rem;
  line-height: 72px;
}
h2 {
  font-size: 1.5rem;
  line-height: 48px;
}
h3 {
  font-size: 1.2rem;
  line-height: 48px;
}
h4 {
  font-size: 1rem;
  line-height: 24px;
}
h5 {
  font-size: 0.8rem;
  line-height: 24px;
}
h6 {
  font-size: 0.6rem;
  line-height: 24px;
}
.align-right {
  text-align: right;
}
.about {
  display: block;
  margin: 48px 0;
}
.about h2 {
  text-align: center;
  font: 42px 'Roboto';
  line-height: 2;
}
.about__item {
  text-align: center;
}
.about__item h4 {
  font: 24px 'Roboto', sans-serif;
  color: #222;
  line-height: 1.5;
  margin-top: 12px;
  font-weight: bold;
  font-weight: 400;
}
.about__item h4 strong {
  color: #af1f23;
  font-weight: bold;
  font-weight: 400;
}
.button,
.modal__form input[type="submit"] {
  display: block;
  width: 90%;
  margin: 0 auto;
  background: #0090e2;
  background: -webkit-linear-gradient(75deg, #0090e2, #00ffbf);
  background: linear-gradient(15deg, #0090e2, #00ffbf);
  text-align: center;
  line-height: 1;
  padding: 20px 0;
  border-radius: 100px;
  box-shadow: 0px 5px 0 rgba(0,0,0,0.05);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font: 18px 'Roboto', sans-serif;
  cursor: pointer;
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease;
  border: none;
}
.button:hover,
.modal__form input[type="submit"]:hover {
  width: 100%;
}
.button:active,
.modal__form input[type="submit"]:active,
.button:focus,
.modal__form input[type="submit"]:focus {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
}
.button.small,
.modal__form input[type="submit"].small {
  font-size: 16px;
  padding: 12px 0;
  width: 70%;
}
.button.small:hover,
.modal__form input[type="submit"].small:hover {
  width: 90%;
}
.calltoaction {
  display: block;
}
.calltoaction h4 {
  font: 24px 'Roboto', sans-serif;
  color: #222;
  text-align: center;
  font-weight: 100;
  margin: 0 0 12px 0;
  line-height: 1.5;
}
.calltoaction input[type=tel] {
  display: block;
  border: 2px solid #5dd3f9;
  width: 100%;
  padding: 12px 24px;
  border-radius: 100px;
  font-size: 28px;
  font-weight: 100;
  margin: 16px 0;
}
.calltoaction input[type=tel]:focus {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
}
.calltoaction--line form {
  border-radius: 100px;
  padding: 16px 24px;
  border: 2px solid #b6ebfc;
  margin: 24px 0 0 0;
  font-size: 0;
  width: 110%;
  left: -5%;
}
@media (max-width: 767px) {
  .calltoaction--line form {
    border-radius: 6px;
  }
}
@media (min-width: 768px) {
  .calltoaction--line form {
    border-radius: 100px;
  }
}
.calltoaction--line label {
  display: inline-block;
  vertical-align: middle;
  color: #222;
  font-size: 22px;
  font-weight: bold;
  font-weight: 500;
  letter-spacing: 0;
  height: 42px;
  line-height: 42px;
}
@media (max-width: 767px) {
  .calltoaction--line label {
    display: block;
    font-size: 18px;
  }
}
@media (min-width: 768px) {
  .calltoaction--line label {
    display: inline-block;
    font-size: 22px;
  }
}
.calltoaction--line input[type="tel"] {
  display: inline-block;
  vertical-align: middle;
  border-radius: 100px 0 0 100px;
  border: 2px solid #5dd3f9;
  border-right: none;
  font-size: 18px;
  font-weight: 100;
  color: #444;
  width: auto;
  letter-spacing: 0;
  height: 42px;
  line-height: 42px;
  padding: 0 16px;
  width: 200px;
  float: right;
}
@media (max-width: 767px) {
  .calltoaction--line input[type="tel"] {
    display: block;
    width: 100%;
    border-radius: 100px;
    float: none;
    border: 2px solid #5dd3f9;
    margin: 14px 0;
    top: -50px;
  }
}
@media (min-width: 768px) {
  .calltoaction--line input[type="tel"] {
    display: inline-block;
    width: 200px;
  }
}
.calltoaction--line input[type="tel"]:focus {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
}
.calltoaction--line input[type="submit"] {
  display: inline-block;
  vertical-align: middle;
  font: 16px 'Roboto', sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: #0096ff;
  text-align: center;
  border-radius: 0 100px 100px 0;
  border: none;
  height: 42px;
  line-height: 42px;
  width: 200px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  float: right;
}
@media (max-width: 767px) {
  .calltoaction--line input[type="submit"] {
    display: block;
    width: 100%;
    border-radius: 100px;
    float: none;
    top: 60px;
  }
}
@media (min-width: 768px) {
  .calltoaction--line input[type="submit"] {
    display: inline-block;
    width: 200px;
  }
}
.calltoaction--line input[type="submit"]:focus {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
}
.calltoaction--line input[type="submit"]:hover {
  background: #0078cc;
}
.cases {
  display: block;
  margin: 48px 0;
}
.cases h2 {
  text-align: center;
  font: 42px 'Roboto';
  line-height: 2;
}
.cases__item {
  display: block;
  margin-bottom: 72px;
}
.cases__image {
  display: block;
  width: 100%;
  height: 220px;
  border: 2px solid #0096ff;
  box-shadow: 4px 2px 0px rgba(0,0,0,0.05);
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform-origin: 100% 0%;
          transform-origin: 100% 0%;
  -webkit-transform: skewY(7deg);
          transform: skewY(7deg);
  overflow: hidden;
}
@media (max-width: 767px) {
  .cases__image {
    height: 200px;
    -webkit-transform: none;
            transform: none;
    width: auto;
  }
}
@media (min-width: 768px) {
  .cases__image {
    height: 320px;
    -webkit-transform: none;
            transform: none;
  }
}
@media (min-width: 992px) {
  .cases__image {
    height: 220px;
    -webkit-transform: skewY(7deg);
            transform: skewY(7deg);
  }
}
.cases__image img {
  position: absolute;
  top: -22%;
  left: -66%;
  display: block;
  height: 115%;
  width: auto;
  -webkit-transform-origin: 100% 0%;
          transform-origin: 100% 0%;
  -webkit-transform: skewY(-7deg);
          transform: skewY(-7deg);
}
@media (max-width: 767px) {
  .cases__image img {
    height: 100%;
    width: auto;
    top: 0;
    left: 0;
    -webkit-transform: none;
            transform: none;
  }
}
@media (min-width: 768px) {
  .cases__image img {
    height: 100%;
    width: auto;
    top: 0;
    left: 0;
    -webkit-transform: none;
            transform: none;
  }
}
@media (min-width: 992px) {
  .cases__image img {
    top: -22%;
    left: -66%;
    height: 115%;
    width: auto;
    -webkit-transform: skewY(-7deg);
            transform: skewY(-7deg);
  }
}
.cases__image + .cideco::after {
  content: '• • •';
  display: inline-block;
  position: absolute;
  right: -4px;
  bottom: -32px;
  width: 64px;
  height: 18px;
  background: #0096ff;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  -webkit-transform-origin: 100% 0%;
          transform-origin: 100% 0%;
  -webkit-transform: skewY(7deg);
          transform: skewY(7deg);
}
@media (max-width: 767px) {
  .cases__image + .cideco::after {
    display: none;
  }
}
@media (min-width: 768px) {
  .cases__image + .cideco::after {
    display: none;
  }
}
.cases__info h4 {
  font-size: 24px;
  color: #222;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
}
.cases__info p {
  font-size: 16px;
  font-weight: 100;
  line-height: 1.5;
  margin-top: 14px;
  margin-bottom: 0;
  padding-right: 16px;
}
.cases__info p.more {
  margin: 0;
  font-size: 0px;
}
.cases__info span {
  border-bottom: 1px dotted #0096ff;
  color: #0096ff;
  font-size: 16px;
  cursor: pointer;
  padding-top: 16px;
}
.cases__info.active p.more {
  font-size: 16px;
  position: absolute;
  background: #fff;
  padding-bottom: 64px;
}
.cases__info.active p.more::after {
  content: '';
  position: absolute;
  display: block;
  bottom: 16px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #bbb;
}
.cases__info.active span {
  position: absolute;
  bottom: 32px;
  left: 0;
}
.zz-top {
  z-index: 2000;
}
.cases.one-opened::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #fff;
  opacity: 0.8;
  z-index: 500;
}
.header {
  display: block;
  height: 160px;
  padding: 3rem 0;
}
@media (max-width: 767px) {
  .header {
    padding: 1rem 0;
    height: auto;
  }
}
@media (min-width: 768px) {
  .header {
    padding: 1rem 0;
  }
}
.header__logo {
  text-align: left;
  margin: 0;
}
@media (max-width: 767px) {
  .header__logo {
    text-align: center;
    margin: 24px 0;
  }
}
@media (min-width: 768px) {
  .header__logo {
    text-align: center;
    margin: 24px 0;
  }
}
.header__logo img {
  display: inline-block;
  max-width: 100%;
}
.header__awards {
  display: inline-block;
  vertical-align: middle;
  margin-top: 36px;
}
@media (max-width: 767px) {
  .header__awards {
    display: none;
  }
}
.header__awards a {
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  margin: 0 4px;
}
.header__awards img {
  display: inline-block;
  max-width: 100%;
}
@media (min-width: 992px) {
  .header__awards img {
    display: none;
  }
}
@media (min-width: 1200px) {
  .header__awards img {
    display: inline-block;
  }
}
.header__awards img.leader {
  position: relative;
  top: -8px;
}
@media (min-width: 992px) {
  .header__awards img.leader {
    display: inline-block;
  }
}
.header__phone {
  display: inline-block;
  vertical-align: middle;
  margin-left: 3rem;
  margin-top: 36px;
}
@media (max-width: 767px) {
  .header__phone {
    display: block;
    text-align: center;
    margin: 0;
    margin: 16px 0;
  }
}
.header__phone a,
.header__phone a:hover,
.header__phone a:visited {
  font-size: 24px;
  line-height: 1;
  color: #af1f23;
  font-family: 'Roboto', 'Helvetica', 'Helvetica Neue', 'Tahoma', arial, sans-serif;
  font-weight: bold;
}
.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: -9999px;
  left: 0;
  opacity: 0;
  z-index: 5000;
}
.modal--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 0;
  opacity: 1;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}
.modal__splash {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.6;
}
.modal__form {
  background: #fff;
  border-radius: 0 0 6px 6px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
  padding: 16px;
  text-align: left;
  width: 40%;
  max-width: 520px;
}
@media (max-width: 767px) {
  .modal__form {
    width: 90%;
  }
}
@media (min-width: 768px) {
  .modal__form {
    width: 70%;
  }
}
@media (min-width: 992px) {
  .modal__form {
    width: 40%;
  }
}
.modal__form label {
  display: block;
  text-align: left;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 6px;
  padding: 0 24px;
}
.modal__form input {
  display: block;
  width: 100%;
  margin-bottom: 14px;
  border: 1px solid #a8e8fc;
  border-radius: 100px;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: 200;
  text-align: left;
}
.modal__form input:focus {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
}
.modal__form p {
  font-size: 14px;
  font-weight: 100;
  color: #444;
  line-height: 1.5;
  padding: 0 24px;
  margin-top: 0;
}
.modal__form-title {
  border-radius: 6px 6px 0px 0px;
  width: 40%;
  background: -webkit-linear-gradient(bottom, #0090e2, #00ffbf);
  background: linear-gradient(to top, #0090e2, #00ffbf);
  max-width: 520px;
  text-align: center;
  padding: 14px 24px;
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.14);
  text-shadow: 0 5px 12px rgba(0,0,0,0.14);
}
@media (max-width: 767px) {
  .modal__form-title {
    width: 90%;
  }
}
@media (min-width: 768px) {
  .modal__form-title {
    width: 70%;
  }
}
@media (min-width: 992px) {
  .modal__form-title {
    width: 40%;
  }
}
.modal__status {
  display: block;
  width: 100%;
  height: 0px;
  line-height: 64px;
  text-align: center;
  background: #bbb;
  color: #222;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 1px solid #777;
  overflow: hidden;
  -webkit-transition: all 0.6s cubic-bezier(0.86, 0, 0.07, 1);
  transition: all 0.6s cubic-bezier(0.86, 0, 0.07, 1);
}
.modal__status--success {
  height: 64px;
  background: #d3ffc3;
  color: #216124;
  border-bottom: 1px solid #216124;
  box-shadow: 0 5px 12px rgba(0,0,0,0.1);
  z-index: 500;
}
.modal__status--error {
  height: 64px;
  background: #ffdfdf;
  color: #700;
  border-bottom: 1px solid #700;
  box-shadow: 0 5px 12px rgba(0,0,0,0.1);
  z-index: 500;
}
.portfolio {
  display: block;
  margin: 64px 0 48px;
}
.portfolio::before {
  content: '';
  display: inline-block;
  position: relative;
  position: absolute;
  width: 110%;
  height: 55%;
  bottom: 18%;
  left: 0;
  background: #ecfaff;
  -webkit-transform: perspective(500px) rotateY(5deg);
          transform: perspective(500px) rotateY(5deg);
}
@media (max-width: 767px) {
  .portfolio::before {
    -webkit-transform: none;
            transform: none;
  }
}
.portfolio h2 {
  text-align: center;
  font: 42px 'Roboto';
  line-height: 2;
}
@media (max-width: 767px) {
  .portfolio h2 {
    font-size: 32px;
  }
}
.portfolio__item {
  display: block;
  text-align: center;
  color: #222;
  text-decoration: none;
  padding-bottom: 42px;
}
.portfolio__item img {
  max-width: 100%;
}
.portfolio__item h4 {
  display: inline-block;
  font: 24px 'Roboto', sans-serif;
  color: #222;
  border-bottom: 1px solid transparent;
  margin: 14px auto;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  font-weight: 400;
}
@media (max-width: 767px) {
  .portfolio__item h4 {
    font-size: 18px;
  }
}
.portfolio__item:hover h4 {
  color: #007095;
  border-bottom: 1px solid #007095;
}
.steps {
  display: block;
  margin-top: 190px;
}
@media (max-width: 767px) {
  .steps {
    margin-top: 32px;
  }
}
.steps h2 {
  text-align: center;
  font-size: 42px;
  font-weight: 500;
  line-height: 2;
  margin-top: 96px;
}
.steps::before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 400px;
  background: transparent url("../img/steps-bg.png") no-repeat center top;
  background-size: cover;
  top: -40px;
}
.steps__item {
  text-align: center;
}
@media (max-width: 767px) {
  .steps__item {
    margin-top: 32px;
  }
}
.steps__item h4 {
  font: 18px 'Roboto';
  font-weight: 500;
  text-transform: uppercase;
  color: #222;
  line-height: 1.2;
  margin-top: 16px;
}
.steps__image {
  text-align: center;
  padding-bottom: 16px;
  margin: 0 -15px;
  -webkit-transform: skewY(3deg);
          transform: skewY(3deg);
}
.steps__image img {
  -webkit-transform: skewY(-3deg);
          transform: skewY(-3deg);
}
.steps__image::before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 70%;
  width: 100%;
  background: #84e1f7;
  border-top: 4px solid #fff;
}
.steps [class^="col-"]:nth-child(2n) .steps__image::before {
  background: #bfeffb;
  -webkit-transform: skewY(-6deg);
          transform: skewY(-6deg);
}
.steps [class^="col-"]:nth-child(2n) .steps__image::before img {
  -webkit-transform: skewY(6deg);
          transform: skewY(6deg);
}
.steps [class^="col-"]:nth-child(1) .steps__image::after,
.steps [class^="col-"]:nth-child(4) .steps__image::after {
  content: '';
  position: absolute;
  display: block;
  bottom: 0;
  left: -1000px;
  width: 1000px;
  height: 70%;
  background: #e6f9fd;
  -webkit-transform: skewY(-12deg);
          transform: skewY(-12deg);
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
  border-top: 4px solid #fff;
}
.steps [class^="col-"]:nth-child(4) .steps__image::after {
  left: auto;
  right: -1000px;
  bottom: 15px;
  -webkit-transform: skewY(9deg);
          transform: skewY(9deg);
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
}
.title {
  display: block;
  text-align: center;
  border: none;
  margin: 0;
}
@media (max-width: 767px) {
  .title {
    border-top: 8px solid #d6fff3;
    border-bottom: 8px solid #d6f7ff;
    margin-bottom: 32px;
  }
}
.title h1 {
  font-size: 72px;
  color: #133e7c;
  font-family: 'Roboto', 'Tahoma', sans-serif;
  font-weight: bold;
  font-weight: 500;
  text-align: center;
  background: #fff;
  line-height: 1.5;
  padding: 0 64px;
  width: 160%;
  left: -30%;
  top: 20px;
  margin: 0;
}
@media (max-width: 767px) {
  .title h1 {
    font-size: 32px;
    width: 108%;
    left: -4%;
    display: inline-block;
    padding: 0;
    line-height: 1.5;
    top: 0;
  }
}
@media (min-width: 768px) {
  .title h1 {
    font-size: 50px;
    top: 16px;
    width: 160%;
    left: -30%;
  }
}
@media (min-width: 992px) {
  .title h1 {
    font-size: 64px;
    top: 20px;
  }
}
@media (min-width: 1200px) {
  .title h1 {
    font-size: 72px;
  }
}
.title h2 {
  font-size: 48px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  margin: 62px 0 0 0;
  padding: 0 32px;
  background: #fff;
}
@media (max-width: 767px) {
  .title h2 {
    font-size: 18px;
    margin: 22px 0 0 0;
    padding: 0;
  }
}
@media (min-width: 768px) {
  .title h2 {
    font-size: 32px;
  }
}
@media (min-width: 992px) {
  .title h2 {
    font-size: 48px;
    margin: 74px 0 0 0;
  }
}
@media (min-width: 1200px) {
  .title h2 {
    margin: 62px 0 0 0;
  }
}
.title__block {
  height: 210px;
  background: -webkit-linear-gradient(30deg, #d6f7ff, #d6fff3);
  background: linear-gradient(60deg, #d6f7ff, #d6fff3);
  margin: 96px 0;
}
@media (max-width: 767px) {
  .title__block {
    background: #fff;
    margin: 0;
    height: auto;
  }
}
@media (min-width: 768px) {
  .title__block {
    border: none;
    height: 170px;
  }
}
@media (min-width: 992px) {
  .title__block {
    height: 210px;
  }
}
.title__block::before {
  content: '';
  display: inline-block;
  position: relative;
  position: absolute;
  width: 96%;
  height: 80%;
  bottom: 9%;
  left: 2%;
  background: #fff;
}
@media (max-width: 767px) {
  .title__block::before {
    display: none;
  }
}
.why {
  display: block;
  text-align: center;
  margin-top: 80px;
}
.why h3 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  font-weight: 500;
  color: #0d357d;
  line-height: 1;
}
@media (max-width: 767px) {
  .why h3 {
    font-size: 24px;
    text-align: left;
  }
}
.why p {
  color: #222;
  font-size: 24px;
  font-weight: 100;
  line-height: 1.5;
  text-align: center;
}
@media (max-width: 767px) {
  .why p {
    font-size: 18px;
    text-align: left;
  }
}

/*# sourceMappingURL=.maps/styles.css.map */
