.button
  display block
  width 90%
  margin 0 auto
  background #0090e2
  background linear-gradient(15deg, #0090e2, #00ffbf)
  text-align center
  line-height 1
  padding 20px 0
  border-radius 100px
  box-shadow 0px 5px 0 rgba(0,0,0,0.05)
  color #fff
  text-transform uppercase
  letter-spacing 1px
  font 18px 'Roboto', sans-serif
  cursor pointer
  transition width .3s ease
  border none
  
  &:hover
    width 100%
    
  &:active
  &:focus
    appearance none
    outline none
    
  &.small
    font-size 16px
    padding 12px 0
    width 70%
    
    &:hover
      width 90%
