//- Расширяем страницу основным лейаутом
extends layouts/main

//- Подключаем блоки
include ../blocks/blocks

block title
  title Main Page

block content
  +modal()

  +modalStatus()

  +header()

  +title()
  +calltoaction('Закажите прямо сейчас', 'Бесплатный аудит', false)

  +steps()
  +why()
  +calltoaction--line('Закажите бесплатный аудит', 'Заказать')

  +cases()
  +calltoaction('Обсудим Ваш проект?', 'Обсудить', true)

  +portfolio()
  +about()
  +calltoaction('Станьте участником Битрикс24.\nУлучшите свой бизнес', 'Подать заявку', false)
