mixin modal()
  .modal
    .modal__splash

    .modal__form-title Заказ бесплатного аудита
    .modal__form
      p Оставьте свой номер телефона и наш менеджер свяжется с Вами в течении рабочего дня
      form(action="")
        label(for="order-name") Ф.И.О.
        input(type="text" id="order-name" placeholder="Как вас зовут?" name="order-name" required)

        label(for="order-phone") Номер телефона
        input(type="text" id="order-phone" placeholder="+7 (___) ___-__-__" name="order-phone" required)

        input(type="submit" value="Оставить заявку")


mixin modalStatus()
  .modal__status text