.modal
  display none
  position fixed
  width 100%
  height 100%
  top -9999px
  left 0
  opacity 0
  z-index 5000
  
  &--active
    display flex
    align-items center
    justify-content center
    flex-direction column
    top 0
    opacity 1
    transition opacity .4s ease
  
  &__splash
    position absolute
    width 100%
    height 100%
    top 0
    left 0
    background #000
    opacity .6
    
  &__form
    background #fff
    border-radius 0 0 6px 6px
    box-shadow 0px 10px 30px rgba(0,0,0,.2);
    padding 16px
    text-align left
    width 40%
    max-width 520px
    
    +xs()
      width 90%
      
    +sm()
      width 70%
    
    +md()
      width 40%
    
    label
      display block
      text-align left
      font-size 16px
      font-weight 500
      margin-bottom 6px
      padding 0 24px

    input
      display block
      width 100%
      margin-bottom 14px
      border 1px solid #a8e8fc
      border-radius 100px
      padding 12px 24px
      font-size 18px
      font-weight 200
      text-align left
      
      &:focus
        appearance none
        outline none
        
      &[type="submit"]
        @extends .button
        
    p
      font-size 14px
      font-weight 100
      color #444
      line-height 1.5
      padding 0 24px
      margin-top 0
        
  &__form-title
    border-radius 6px 6px 0px 0px
    width 40%
    background linear-gradient(to top, #0090e2, #00ffbf)
    max-width 520px
    text-align center
    padding 14px 24px
    text-transform uppercase
    color #fff
    font-size 18px
    box-shadow 0px 3px 6px rgba(0,0,0,.14)
    text-shadow 0 5px 12px rgba(0,0,0,.14)
    
    +xs()
      width 90%
      
    +sm()
      width 70%
    
    +md()
      width 40%
    

  &__status
    display block
    width 100% 
    height 0px
    line-height 64px 
    text-align center
    background #bbb
    color black
    font-size 16px
    font-weight 500
    border-bottom 1px solid #777
    overflow hidden
    transition all .6s ease-in-out-quint
    
    &--success
      height 64px
      background #D3FFC3
      color #216124
      border-bottom 1px solid #216124
      box-shadow 0 5px 12px rgba(0,0,0,.1)
      z-index 500
      
    &--error
      height 64px
      background #ffdfdf
      color #700
      border-bottom 1px solid #700
      box-shadow 0 5px 12px rgba(0,0,0,.1)
      z-index 500