mixin why()
  .why
    .container
      .row
        .col-lg-10.col-lg-offset-1
          h3 Почему надо внедрять Битрикс24, а не просто регистрировать?

          p.
            Задача организации, в особенности же реализация намеченных плановых заданий требуют от нас анализа направлений прогрессивного развития. Повседневная практика показывает, что начало повседневной работы по формированию позиции требуют от нас анализа дальнейших направлений развития.