.why
  display block
  text-align center
  margin-top 80px
  
  h3
    text-align center
    font-size 30px
    font-weight bold
    font-weight 500
    color #0d357d
    line-height 1
    
    +xs()
      font-size 24px
      text-align left
    
  p
    color black
    font-size 24px
    font-weight 100
    line-height 1.5
    text-align center
    
    +xs()
      font-size 18px
      text-align left
      