mixin steps__item(image, title)
  .col-md-3.col-sm-6.col-xs-12
    .steps__item
      .steps__image
        img(src=image, alt=title)

      h4!= title

mixin steps()
  .steps

    h2 Как мы это делаем

    .container
      .row
        +steps__item('img/steps/1.png', 'Проводим<br>аудит')
        +steps__item('img/steps/2.png', 'Формируем коммерческое предложение')
        +steps__item('img/steps/3.png', 'Внедряем')
        +steps__item('img/steps/4.png', 'Анализируем<br>результат')
