.steps
  display block
  margin-top 190px
  
  +xs()
    margin-top 32px
  
  h2
    text-align center
    font-size 42px
    font-weight 500
    line-height 2
    margin-top 96px

  &::before
    content ''
    position absolute
    display block
    width 100%
    height 400px
    background transparent url('../img/steps-bg.png') no-repeat center top
    background-size cover
    top -40px

.steps__item
  text-align center
  
  +xs()
    margin-top 32px
  
  h4
    font 18px 'Roboto'
    font-weight 500
    text-transform uppercase
    color black
    line-height 1.2
    margin-top 16px
    
.steps__image
  text-align center
  padding-bottom 16px
  margin 0 -15px
  transform skewY(3deg)
  
  img
    transform skewY(-3deg)
    
  
  &::before
    content ''
    display block
    position absolute
    bottom 0
    left 0
    height 70%
    width 100%
    background #84e1f7
    border-top 4px solid #fff
    

.steps [class^="col-"]:nth-child(2n) .steps__image::before
  background #bfeffb
  transform skewY(-6deg)
  
  img
    transform skewY(6deg)
    

.steps [class^="col-"]:nth-child(1) .steps__image::after
.steps [class^="col-"]:nth-child(4) .steps__image::after
  content ''
  position absolute
  display block
  bottom 0
  left -1000px
  width 1000px
  height 70%
  background #e6f9fd
  transform skewY(-12deg)
  transform-origin 100% 100%
  border-top 4px solid #fff
  
.steps [class^="col-"]:nth-child(4) .steps__image::after
  left auto
  right -1000px
  bottom 15px
  transform skewY(9deg)
  transform-origin 0 100%