
mixin cases__item(image, title)

  - var text = `Задача организации, в особенности же реализация намеченных плановых заданий требуют от нас анализа направлений прогрессивного развития. Повседневная практика показывает, что начало повседневной работы по формированию позиции требуют от нас анализа дальнейших направлений развития.`;

  .col-md-6.col-sm-12
    .cases__item
      .row
        .col-md-4
          .cases__image
            img(src=image, alt="Кейсы компании Color-IT: " + title)

          .cideco

        .col-md-8
          .cases__info
            h4!= title
            p!= text
            p.more!= text
              span Подробнее
  

mixin cases()
  .cases
    .container
      .row
        .col-md-12
          h2 Кейсы

      .row
        +cases__item('img/cases/1.jpg', 'Доставка воды')
        +cases__item('img/cases/2.jpg', 'Получение аванса')

      .row
        +cases__item('img/cases/3.jpg', 'Управление компанией')
        +cases__item('img/cases/1.jpg', 'Доставка воды')