.cases
  display block
  margin 48px 0
  
  h2
    text-align center
    font 42px 'Roboto'
    line-height 2


.cases__item
  display block
  margin-bottom 72px

.cases__image
  display block
  width 100%
  height 220px
  border 2px solid #0096ff
  box-shadow 4px 2px 0px rgba(0,0,0,.05);
  object-fit cover
  transform-origin 100% 0%
  transform skewY(7deg)
  overflow hidden
  
  +xs()
    height 200px
    transform none
    width auto

  +sm()
    height 320px
    transform none
    
  +md()
    height 220px
    transform skewY(7deg)
  
  img
    position absolute
    top -22%
    left -66%
    display block
    height 115%
    width auto
    transform-origin 100% 0%
    transform skewY(-7deg)
    
    small = 
      height 100%
      width auto 
      top 0
      left 0
      transform none

    +xs()
      {small}
      
    +sm()
      {small}
      
    +md()
      top -22%
      left -66%
      height 115%
      width auto
      transform skewY(-7deg)
    
  & + .cideco::after
    content '• • •'
    display inline-block
    position absolute
    right -4px
    bottom -32px
    width 64px
    height 18px
    background #0096ff
    text-align center
    color #fff
    font-size 18px
    font-weight bold
    line-height 1
    transform-origin 100% 0%
    transform skewY(7deg)
    
    +xs()
      display none
         
    +sm()
      display none


.cases__info
  
  h4
    font-size 24px
    color black
    font-weight 400
    line-height 1.2
    margin 0
    
  p
    font-size 16px
    font-weight 100
    line-height 1.5
    margin-top 14px
    margin-bottom 0
    padding-right 16px
  
  p.more
    margin 0
    font-size 0px
    
  span
    border-bottom 1px dotted #0096ff
    color #0096ff
    font-size 16px
    cursor pointer
    padding-top 16px


  &.active
    p.more
      font-size 16px
      position absolute
      background #fff
      padding-bottom 64px
      
      &::after
        content ''
        position absolute
        display block
        bottom 16px
        left 0
        width 100%
        height 1px
        background #bbb
      
    span
      position absolute
      bottom 32px
      left 0

.zz-top
  z-index 2000
  
.cases.one-opened
  &::after
    content ''
    display block
    position absolute
    width 100%
    height 100%
    top 0
    left 0
    background #fff
    opacity .8
    z-index 500