.title
  display block
  text-align center
  border none
  margin 0
  
  +xs()
    border-top 8px solid #d6fff3
    border-bottom 8px solid #d6f7ff
    margin-bottom 32px
  
  h1
    font-size 72px
    color #133e7c
    font-family 'Roboto', 'Tahoma', sans-serif
    font-weight bold
    font-weight 500
    text-align center
    background #fff
    line-height 1.5
    padding 0 64px
    width 160%
    left -30%
    top 20px
    margin 0
    
    +xs()
      font-size 32px
      width 108%
      left -4%
      display inline-block
      padding 0
      line-height 1.5
      top 0
    
    +sm()
      font-size 50px
      top 16px
      width 160%
      left -30%
    
    +md()
      font-size 64px
      top 20px
      
    +lg()
      font-size 72px
    
  h2
    font-size 48px
    font-family 'Roboto', sans-serif
    font-weight 400
    text-align center
    display inline-block
    margin 62px 0 0 0
    padding 0 32px
    background #fff
    
    +xs()
      font-size 18px
      margin 22px 0 0 0
      padding 0
    
    +sm()
      font-size 32px
      
    +md()
      font-size 48px
      margin 74px 0 0 0
      
    +lg()
      margin 62px 0 0 0
    

.title__block
  height 210px
  background linear-gradient(60deg, #d6f7ff, #d6fff3)
  margin 96px 0
  
  +xs()
    background #fff
    margin 0
    height auto
    
  +sm()
    border none
    height 170px
  +md()
    height 210px
  
  &::before
    {pseudo}
    position absolute
    width 96%
    height 80%
    bottom 9%
    left 2%
    background #fff
    
    +xs()
      display none