mixin title()
  .title
    .container
      .row
        .col-md-10.col-md-offset-1.col-sm-12.col-sm-offset-0
          .title__block
            h1 Успешно внедряем Битрикс24
            h2 Автоматизируем бизнес
